Modelos/
data/
Datos/
DEEPTAFDATA/
dtafRuns/
dtafruns/
Resultados/
Datos/
ZScripts/
dtafRuns/
dtafruns/
Resultados 2025/
best_model_tmp.pt
# Ignorar todas las carpetas __pycache__ y archivos .pyc en el proyecto
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.idea
global_axis.npy
pyproject.toml
result*
graph
MODEL
plot
metadata
raw
output*
architecture.puml
_test_
GIGN_GUI
CheapNet_GUI
GraphDTA
Planet